[submodule "dependencies/LiteMath"]
	path = dependencies/LiteMath
	url = https://github.com/msu-graphics-group/LiteMath.git
[submodule "modules/sdfScene"]
	path = modules/sdfScene
	url = https://github.com/SammaelA/sdfScene.git
